<html>
<head>
	<title>Nu3 Weather</title>
</head>
<body>
	<h3>Welcome! Nu3 Weather</h3>
	<form method="post" action="{{ path('pianosolo_weather_homepage') }}">
		<input type="text" name="city" placeholder="City" value="{{ city }}" required>
		<input type="submit" value="Get Weather">
	</form>
	</br>
	{% if city is not empty %}
		{{ pianosolo_get_forecast(city,5) }}
	{% endif %}
</body>
</html>